In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import gc, time

%matplotlib inline

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 200)

In [3]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [11]:
print('####mean####\n', train_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].mean())
print('####max####\n', train_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].max())
print('####min####\n', train_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].min())
print('####std####\n', train_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].std())

####mean####
 Pclass     2.308642
Age       29.699118
SibSp      0.523008
Parch      0.381594
Fare      32.204208
dtype: float64
####max####
 Pclass      3.0000
Age        80.0000
SibSp       8.0000
Parch       6.0000
Fare      512.3292
dtype: float64
####min####
 Pclass    1.00
Age       0.42
SibSp     0.00
Parch     0.00
Fare      0.00
dtype: float64
####std####
 Pclass     0.836071
Age       14.526497
SibSp      1.102743
Parch      0.806057
Fare      49.693429
dtype: float64

In [12]:
train_test_data = pd.concat([train_data, test_data])

In [16]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [24]:
train_test_data['Age'].fillna(int(train_test_data['Age'].mean()), inplace=True)

In [29]:
cabin_col = train_test_data['Cabin'].tolist()

In [39]:
type(cabin_col[1])

str

In [42]:
for i in range(len(cabin_col)):
    if type(cabin_col[i]) == str:
        cabin_col[i] = cabin_col[i][0]

In [43]:
train_test_data['Cabin'] = cabin_col

In [45]:
train_test_data['Cabin'].value_counts()

C    94
B    65
D    46
E    41
A    22
F    21
G     5
T     1
Name: Cabin, dtype: int64

In [47]:
object_columns = train_test_data.dtypes[train_test_data.dtypes == 'object'].index.tolist()

for column in object_columns:
    train_test_data[column] = pd.factorize(train_test_data[column])[0]

In [48]:
train_data = train_test_data[~train_test_data['Survived'].isnull()]
test_data = train_test_data[train_test_data['Survived'].isnull()]
train_data.shape, test_data.shape

((891, 12), (418, 12))

In [50]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,0,0,22.0,1,0,0,7.2500,-1,0
1,2,1.0,1,1,1,38.0,1,0,1,71.2833,0,1
2,3,1.0,3,2,1,26.0,0,0,2,7.9250,-1,0
3,4,1.0,1,3,1,35.0,1,0,3,53.1000,0,0
4,5,0.0,3,4,0,35.0,0,0,4,8.0500,-1,0

In [54]:
from sklearn.model_selection import train_test_split

ftr_train = train_data.drop(['PassengerId', 'Survived', 'Name', 'Ticket'], axis=1)
survived_train = train_data['Survived']
train_x, valid_x, train_y, valid_y = train_test_split(ftr_train, survived_train, test_size=0.3, random_state=2022)
train_x.shape, valid_x.shape

((623, 8), (268, 8))

In [ ]:
from lightgbm import LGBMClassifier

clf = LGBMClassifier(
    n_jobs=-1,
    n_estimators=500,
    learning_rate=0.02,
    num_leaves=16,
    subsample=0.8,
    max_depth=8,
    silent=-1,
    verbose=-1
)

clf.fit(train_x, train_y, eval_set=[(train_x, train_y), (valid_x, valid_y)], eval_metric='aut', verbose=30,
       early_stopping_rounds=30)